<!-- Layout footer -->
<nav class="layout-footer footer bg-footer-theme">
    <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
        <div class="pt-3">
            <span class="footer-text font-weight-bolder"> طُور بواسطة نقرة جميع الحقوق محفوظة 2020</span> &copy;
        </div>
        <div>
            <img src="~/Images/comeblack.png"  style="width:100px; height:50px;"/>
        </div>
        
    </div>
</nav>
<!-- / Layout footer -->
